<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="RaceRawDataDirectory" value="C:\Users\camme\source\repos\RaceTrackerConsole\RawData\"/>
      <add key="RaceProcessedDataDirectory" value="C:\Users\camme\source\repos\RaceTrackerConsole\ProcessedData\"/>
      <add key="RaceDataWebsite" value="https://www.timeform.com/horse-racing/results/"/><!--Base URL for website-->
      <add key="RaceDataResult" value="https://www.timeform.com/horse-racing/result/"/><!--Base URL for individual results-->
    </appSettings>
</configuration>